@media only screen and (max-width: 1290px) {
    .main-a{
        max-width: 1000px;
    }
    
    .main-i{
        width: 480px;
    }
}

@media only screen and (max-width: 1100px) {
    .main-a{
        max-width: 800px;
    }

    .main-i{
        width: 380px;
    }    
}

@media only screen and (max-width: 850px) {
    .main-a{
        max-width: 600px;
    }

    .main-i{
        width: 100%;
    }
    
    .fulledit {
        float: none;
        width: calc(100% - 0px);
    }

    .editor-informations{
        float: none;
        overflow: hidden;
        width: calc(100% - 50px);
    }
    .br {
        display: block;
        text-align: center;
    }

    .fee{
        text-align: center;
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .main-a{
        max-width: 500px;
    }

    .main-i{
        width: 100%;
        margin: 15px;
    }
    
    .navbar {
        display: none;
    }

    .iconnav {
        display: block;
    }

    .mtit{
        font-size: 22px;
        font-weight: 600;
        margin-left: 4%;
    }

    .main {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 530px) {
    .main-a{
        max-width: 420px;
    }

    .main-i{
        width: 100%;
        margin: 15px;
    }    
}

@media only screen and (max-width: 450px) {
    .main-a{
        max-width: 100%;
    }

    .main-i{
        width: 90%;
        margin: 15px 0px;
        padding: 0 5%;
    }    
    .main-i > a > img{
        width: 100px;
    }
    
    .img-fluid {   
        height: 100px;

    }

    .main-i > h2{
        float: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3;
        margin-top: 1rem;
    }
}