.titlelink {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: initial;
}

.author {
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}

.titlelink:hover {
  color: rgb(58,58,58);
}

.ql-editor {
  min-height: 300px;
}

.ql-toolbar {
  background-color: #f6f6f6;
  max-width: 800px;
  margin: auto;
}

#editors {
  font-size: inherit;
  font-family: 'Aleo';
  max-width: 800px;
  margin: auto;
  background-color: #fcfcfc;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.ql-formats {
  margin-right: 10px !important;
}

[contenteditable] {
  outline: 0px solid transparent;
}

#myTitle {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
}

.btnPreview {
  color: rgb(77,77,77) !important;
  background-color: rgb(205,205,205) !important;
  border-radius: 20px;
}

.btnPreview:hover {
  color: white !important;
  background-color: black !important;
}

.ql-editor p {
  margin-bottom: 15px;
}

.dropdownuser {
  background-color: rgb(42,42,42) !important;
  border-radius: 20px !important;
  padding: 5px 10px;
  color: rgb(219,219,219);
  font-size: 14px;
  text-decoration: none;
}

.dropdownuser:hover {
  background-color: rgb(255,255,255) !important;
  color: rgb(28,28,28);
  text-decoration: none !important;
}

.header-log-btn {
  background-color: rgb(38,38,38);
  border: 1px solid white;
  border-radius: 20px;
  padding: 3px 10px;
  color: rgb(255,255,255);
  font-size: 14px;
  margin-right: 10px;
  font-family: 'Source Sans Pro';
}

.header-log-btn:hover {
  background-color: rgb(255,255,255);
  color: black;
}

.newstory-btn {
  background-color: white;
  color: black;
  border-radius: 20px !important;
}

.dropdowncat {
  color: rgb(184,184,184);
}

.dropdowncat:hover {
  color: rgb(56,56,56);
  text-decoration: none;
}

.editprofilbtn {
  background-color: rgb(250,250,250);
  font-family: 'Source Sans Pro';
  font-size: 12px;
  color: rgb(151,151,151);
}

.lastactivity {
  font-size: 14px;
  line-height: 0.8;
}

.btneditprofilok {
  background-color: black;
  color: white;
  border-radius: 20px;
}

.btneditprofilok:hover {
  background-color: rgb(229,228,228);
  color: rgb(33,33,33);
}

.circleimageprofil {
  border-radius: 50%;
  width: 200px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.menu-main {
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -55px;
  overflow: hidden;
}

.menu-main a {
  background-color: rgb(255,255,255);
  display: inline-block;
  margin-right: 10px;
  color: rgb(255,255,255);
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 154px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.menu-main a:hover {
  filter: brightness(1.75);
}

.prev-btn {
  margin-top: 60px;
  cursor: pointer;
}

.next-btn {
  float: right;
  margin-top: 60px;
  cursor: pointer;
}

.storyauthor {
  font-size: 13px !important;
  margin-top: 0 !important;
  margin-bottom: 3px !important;
  padding-top: 3px !important;
  padding-left: 0px !important;
  margin-left: 16px !important;
  margin-right: 10px !important;
}

.mydatelist {
  font-size: 13px  !important;
  margin-top: 0  !important;
  margin-bottom: 3px  !important;
  padding-top: 2px  !important;
  padding-left: 0px  !important;
  margin-left: 28px  !important;
  font-weight: 100  !important;
  color: #a0a0a0 !important;
}

@media (max-width: 320px) {
  .menu-main {
    width: 65%;
    margin-top: -25px;
  }
}

@media (max-width: 320px) {
  .text-white {
    font-size: 9px;
    font-weight: 600;
    display: table-cell;
    color: #bcbcbc !important;
  }
}

@media (max-width: 320px) {
  .mydatelist {
    font-size: 10px !important;
    margin-top: 0  !important;
    margin-bottom: 3px  !important;
    padding-top: 0px  !important;
    padding-left: 0px  !important;
    margin-left: 30px  !important;
    color: #a0a0a0 !important;
  }
}

@media (max-width: 320px) {
  .storyauthor {
    font-size: 10px !important;
    margin-top: 2px !important;
    margin-bottom: 3px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    margin-left: 4px !important;
    margin-right: 7px !important;
    font-weight: normal !important;
    color: #a0a0a0 !important;
  }
}

@media (max-width: 320px) {
  .col-md-12.col-lg-5 {
    width: 30%;
  }
}

@media (max-width: 320px) {
  .img-fluid {
    height: 85px;
  }
}

@media (max-width: 320px) {
  .badge-dark {
    background-color: white;
  }
}

@media (max-width: 320px) {
  .projects-horizontal .item {
    padding-top: 10px;
    min-height: 0px;
  }
}

@media (max-width: 320px) {
  .badge-success {
    background-color: #505050;
  }
}

@media (max-width: 320px) {
  .boxdesc {
    display: none;
  }
}

@media (max-width: 320px) {
  div.author i {
    font-size: 10px;
    color: #a0a0a0;
  }
}

@media (max-width: 320px) {
  .author {
    border-top: none;
    border-bottom: none;
    margin-top: 2px !important;
  }
}

@media (max-width: 320px) {
  .rightbox {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .titlelink {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .next-btn {
    margin-top: 3px;
  }
}

@media (max-width: 320px) {
  .prev-btn {
    margin-top: 0px;
  }
}

@media (max-width: 320px) {
  .menu-main a {
    margin-right: 5px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .menu-main {
    width: 76%;
    margin-top: -25px;
  }
}

@media (max-width: 768px) {
  .next-btn {
    margin-top: 3px;
  }
}

@media (max-width: 768px) {
  .prev-btn {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .menu-main a {
    margin-right: 5px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .menu-main {
    width: 72%;
  }
}

@media (min-width: 992px) {
  .menu-main {
    width: 89%;
  }
}

@media (min-width: 1200px) {
  .menu-main {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .menu-main {
    width: 57%;
    margin-top: -25px;
  }
}

@media (max-width: 400px) {
  .text-white {
    font-size: 9px;
    font-weight: 600;
    display: table-cell;
    color: #bcbcbc !important;
  }
}

@media (max-width: 400px) {
  .mydatelist {
    font-size: 10px !important;
    margin-top: 0  !important;
    margin-bottom: 3px  !important;
    padding-top: 0px  !important;
    padding-left: 0px  !important;
    margin-left: 30px  !important;
    color: #a0a0a0 !important;
  }
}

@media (max-width: 400px) {
  .storyauthor {
    font-size: 10px !important;
    margin-top: 2px !important;
    margin-bottom: 3px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    margin-left: 4px !important;
    margin-right: 7px !important;
    font-weight: normal !important;
    color: #a0a0a0 !important;
  }
}

@media (max-width: 400px) {
  .col-md-12.col-lg-5 {
    width: 30%;
  }
}

@media (max-width: 400px) {
  .img-fluid {
    height: 85px;
  }
}

@media (max-width: 400px) {
  .badge-dark {
    background-color: white;
  }
}

@media (max-width: 400px) {
  .projects-horizontal .item {
    padding-top: 10px;
    min-height: 0px;
  }
}

@media (max-width: 400px) {
  .badge-success {
    background-color: #505050;
  }
}

@media (max-width: 400px) {
  .boxdesc {
    display: none;
  }
}

@media (max-width: 400px) {
  div.author i {
    font-size: 10px;
    color: #a0a0a0;
  }
}

@media (max-width: 400px) {
  .author {
    border-top: none;
    border-bottom: none;
    margin-top: 2px !important;
  }
}

@media (max-width: 400px) {
  .rightbox {
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .titlelink {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .next-btn {
    margin-top: 3px;
  }
}

@media (max-width: 400px) {
  .prev-btn {
    margin-top: 0px;
  }
}

@media (max-width: 400px) {
  .menu-main a {
    margin-right: 5px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}

